.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Custom CSS */

.title {
    font-size: 2rem;
}

.nav-item {
    padding: 5px 10px;
}

.nav-item a {
    color: white;
}

.design-pattern {
    margin-bottom: 50px;
}

/* Habits */
table#habits th:nth-of-type(1) {
    width: 20%;
}
table#habits th:nth-of-type(2) {
    width: 60%;
}
table#habits th:nth-of-type(3),
table#habits th:nth-of-type(4) {
    width: 10%;
}

.habit-day {
    height: 20px;
}

.active-day {
    background: lightgreen;
}

@media (min-width: 768px){
    .seven-cols .col-md-1,
    .seven-cols .col-sm-1,
    .seven-cols .col-lg-1  {
      width: 100%;
      *width: 100%;
    }
  }
  
  @media (min-width: 992px) {
    .seven-cols .col-md-1,
    .seven-cols .col-sm-1,
    .seven-cols .col-lg-1 {
      width: 14.285714285714285714285714285714%;
      *width: 14.285714285714285714285714285714%;
    }
  }
  
  /**
   *  The following is not really needed in this case
   *  Only to demonstrate the usage of @media for large screens
   */    
  @media (min-width: 1200px) {
    .seven-cols .col-md-1,
    .seven-cols .col-sm-1,
    .seven-cols .col-lg-1 {
      width: 14.285714285714285714285714285714%;
      *width: 14.285714285714285714285714285714%;
    }
  }